/* 기본설정 */
html {
  font-family: "Noto sans KR", sans-serif;
}
body {
  margin: 0;
}
div,
section,
header,
p,
h1,
h2 {
  box-sizing: border-box;
}
a {
  color: blue;
}
img {
  /* 컨테이너가 이미지보다 줄어들었을 때 같이 줄어들수있도록 */
  max-width: 100%;
  height: auto;
}

/* header*/
.global-width {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 1rem;
}
.graphic-item {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in;
}
.visible {
  opacity: 1;
}
.scroll-graphic {
  position: sticky;
  top: 0;
  height: 100vh;
  /* sticky 적용된 것 높이가 따로 없어서 */
}
.scroll-text {
  position: relative;
}
.step {
  margin-bottom: 60vh;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
.scene-img {
  max-height: 100vh;
}
